.circle-black {
	background: #0e0e0e;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
	transform: scale(1);
	margin-top: 1px;
}
.circle-white {
	background: #e2dfd9;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 1);
	transform: scale(1);
	margin-top: 1px;
}

.pulse-black {
	animation: pulse-black 1.4s infinite;
}
.pulse-white {
	animation: pulse-white 1.4s infinite;
}

@keyframes pulse-black {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes pulse-white {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.glass-bg {
	background: rgba(0, 0, 0, 0.3);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}
